<h1>{{nombre}}</h1>

<dl>
<td> Nombre :</td>
<dd>{{nombre}}</dd>

<td> Edad :</td>
<dd>{{edad}}</dd>

<td> Método :</td>
<dd>{{nomEdad}}</dd>

<td> Capitalizado :</td>
<dd>{{nombreCapitalizado}}</dd>
</dl>

<button
*ngIf="nombre !== 'Spiderman'"
(click)="cambiarNombre()"
class=" btn btn-primary mx-2">
  Cambiar Nombre
</button>

<button
*ngIf="edad !== 25"
(click)="cambiarEdad()"
class="btn btn-primary mx-2">
  Cambiar Edad
</button>
<button
(click)="resetForm()"
class="btn btn-primary mx-2">
  Reset
</button>
