
  <h4>lista de empleados</h4>
  <ul class="list-group">
    <li *ngFor="let empleadosLista of empleadosLista;
    let i=index;
    let isFirst=first;
    let isLast=last;
    let isEven=even;
    let isOdd=odd;
    "
     class="list-group-item d-flex justify-content-between"
     [ngClass]="{
     'list-group-item-danger':isLast,
     'list-group-item-primary':isEven}">
     <div>
       <span class="text-primary">{{i+1}}. </span>
       <span>{{empleadosLista.nombre}} - </span>
       <strong> Sueldo: </strong>
       <span>{{empleadosLista.sueldo}}</span>

      </div>
      <button (click)="onDeletedEmpleado(i)"class="btn btn-danger">X</button>


    </li>

  </ul>
